body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh; }

.container {
  display: grid;
  grid-template-areas: "header header header header" "sidebar content content content" "sidebar content content content" "sidebar content content content" "sidebar footer footer footer";
  height: 100%; }
  @media (max-width: 480px) {
    .container {
      grid-template-areas: "header header header" "content content content" "content content content" "content content content" "footer footer footer"; } }
  .container .header {
    grid-area: header;
    background-color: #000; }
    @media (max-width: 480px) {
      .container .header {
        background-color: indigo; } }
  .container .sidebar {
    grid-area: sidebar;
    background-color: orange; }
    @media (max-width: 480px) {
      .container .sidebar {
        display: none; } }
  .container .content {
    grid-area: content;
    background-color: red; }
  .container .footer {
    grid-area: footer;
    background-color: greenyellow; }
    @media (min-width: 720px) {
      .container .footer {
        background-color: mediumvioletred; } }
    @media (max-width: 480px) {
      .container .footer {
        background-color: mediumaquamarine; } }

.menu-toggle {
  display: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px; }
  @media (max-width: 480px) {
    .menu-toggle {
      display: block; } }
