@mixin respond($breackpoint) {
  @if $breackpoint == phone {
    @media (max-width: 480px) {
      @content;
    }
  }

  @if $breackpoint == tablet {
    @media (min-width: 720px) {
      @content;
    }
  }

  @if $breackpoint == compu {
    @media (min-width: 1080px) {
      @content;
    }
  }
}
