.container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "sidebar content content content"
    "sidebar content content content"
    "sidebar footer footer footer";
  height: 100%;
  @include respond(phone) {
    grid-template-areas:
      "header header header"
      "content content content"
      "content content content"
      "content content content"
      "footer footer footer";
  }

  .header {
    grid-area: header;
    background-color: #000;
    @include respond(phone) {
      background-color: indigo;
    }
  }
  .sidebar {
    grid-area: sidebar;
    background-color: orange;
    @include respond(phone) {
      display: none;
    }
  }
  .content {
    grid-area: content;
    background-color: red;
  }
  .footer {
    grid-area: footer;
    background-color: greenyellow;
    @include respond(tablet) {
      background-color: mediumvioletred;
    }
    @include respond(phone) {
      background-color: mediumaquamarine;
    }
  }
}

.menu-toggle {
  display: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  @include respond(phone) {
    display: block;
  }
}
